<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/uikit.min.css') }}">
        <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
    </head>
    <body>
      <form>
          <select class="uk-select">
              <option></option>
              <option></option>
          </select>
          <textarea class="uk-textarea"></textarea>
          <input class="uk-radio" type="radio">
          <input class="uk-checkbox" type="checkbox">
          <input class="uk-range" type="range">
      </form>
    </body>
</html>
